<h1>Be or not Be! Completed!</h1>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<ul>
				<li>Tareas Completadas</li>
				<% @todo.each do |todo| %>
					<% if todo.completed %>
						<li class="card" style="width: 18rem;">
							<div class="card-body">
								<p><%= link_to 'Editar', edit_todo_path(todo) %></p>
								<p class="card-text"><%= todo.description %></p>
								<p><%= link_to todo.id, todo_path(todo) %></p>
								<p><%= link_to 'Eliminar', destroy_todo_path(todo), method: :delete %></p>
								
								<%= link_to 'Completado', completed_todo_path(todo), class: 'btn btn-primary' %>
							</div>
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>
		<div class="col-md-6">
			<ul>
				<li>Tareas No-Completadas</li>
				<% @todo.each do |todo| %>
					<% if !todo.completed %>
						<li class="card" style="width: 18rem;">
							<div class="card-body">
								<p><%= link_to 'Editar', edit_todo_path(todo) %></p>
								<p class="card-text"><%= todo.description %></p>
								<p><%= link_to todo.id, todo_path(todo) %></p>
								<p><%= link_to 'Eliminar', destroy_todo_path(todo), method: :delete %></p>
								
								<%= link_to 'Completado', completed_todo_path(todo), class: 'btn btn-primary' %>
							</div>
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</div>